{% extends 'mainapp/base.html'%}
{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content%}
    <h1 class>Главная</h1>
    {% if request.user.is_authenticated %}
        <div class = "divtext">Добро пожаловать, {{request.user.username | title}}</div>
        <a href="{% url 'auth:logout'%}">Выйти</a>
    {% else %}
        <div class = "divtext">Добро пожаловать <br>
        <a href="{% url 'auth:login'%}">Войти</a>
        <a href="{% url 'auth:register'%}">Зарегистрироваться</a>
        </div>
    {% endif %}
{% endblock %}
